<div class="home-container">
	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'night-sky.jpg'%>)">
	  <h1 class='text-left ml-3 mr-5'>Lucille H. James</h1>
	  <h3 class='text-left ml-3 mr-5'>Fullstack developer & writer</h3>
	  <!-- <div class="btn text-left ml-3 mr-5"></div> -->
	</div>

	<section class="info-what mt-5 mb-5 ml-3 mr-3">
		<h1 class="text-center mb-5">What I do</h1>
		<div class="row">
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "ruby.jpg", class: 'logo rounded' %>
				<p>Ruby</p>
				</div>
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "rails-square.png", class: 'logo rounded' %>
				<p>Rails</p>
			</div>
			<div class="w-100 mt-3 mb-3"></div>
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "bootstrap.png", class: 'logo rounded' %>
				<p>Bootstrap</p>
			</div>
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "es6-logo.png", class: 'logo rounded' %>
				<p>JavaScript ES6</p>
			</div>
		</div>
	</section>

	<section class="info-learn text-center pt-5 pb-5">
		<h1 class="mb-3">My background</h1>
		<div class="row ml-4 mr-4 mt-5 mb-5">
			<div class="col">Before working as a freelance developer, I was a digital project manager in a prominent Web agency in Paris. I managed +15 important software projects, from the CRM platform to the complete loyalty program, in a agile environment. And before that, I began my career as a content manager for a crowdfunding platform.</div>
			<div class="w-100 mt-3 mb-3"></div>
			<div class="col">I've always been fascinated by the Web. During my previous work experiences, I took great pleasure working with devs on a daily basis. Learning Ruby and Rails at le Wagon gave me the tools I needed to dive deeper into code.</div>
		</div>
	</section>

	<section class="info-cards">
		<h1 class="text-center mb-3">What I did</h1>
		<div class="row">
			<div class="col-sm card">
				<%= image_tag "ux-comparator.png", class: "" %>
			</div>
			<div class="col-sm card">
				<%= image_tag "maisonesperluette.png", class: "" %>

			</div>
			<div class="col-sm card">
				<%= image_tag "lapetitesuite.png", class: "" %>

			</div>
		</div>
	</section>

	<section class="info-write">
		
	</section>


</div>

