<div class="home-container">
	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'night-sky.jpg'%>)">
	  <h1 class='text-left ml-3 mr-5'>Lucille H. James</h1>
	  <h3 class='text-left ml-3 mr-5'>Fullstack developer & writer</h3>
	  <!-- <div class="btn text-left ml-3 mr-5"></div> -->
	</div>

	<section class="info-what mt-5 mb-5 ml-3 mr-3">
		<h1 class="text-center mb-5">What I do</h1>
		<div class="row">
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "ruby.jpg", class: 'logo rounded' %>
				<p>Ruby</p>
				</div>
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "rails-square.png", class: 'logo rounded' %>
				<p>Rails</p>
			</div>
			<div class="w-100 mt-3 mb-3"></div>
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "bootstrap.png", class: 'logo rounded' %>
				<p>Bootstrap</p>
			</div>
			<div class="col col-lg-12 info-icons text-center">
				<%= image_tag "es6-logo.png", class: 'logo rounded' %>
				<p>JavaScript ES6</p>
			</div>
		</div>
	</section>

	<section class="info-learn">
		<h1 class="text-center mb-3">What I learned</h1>
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm"></div>
		</div>
	</section>

	<section class="info-cards">
		<h1 class="text-center mb-3">What I do</h1>
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm"></div>
			<div class="col-sm"></div>
			<div class="col-sm"></div>
		</div>
	</section>

	<section class="info-write">
		
	</section>


</div>

